{% set seed_name   = seed_name   | default("topo-mesh") %}
{% set node_image  = node_image  | default("alpine:latest") %} {# use harbor.nice.nokia.net/docker/alpine:latest if needed #}
{% set mgmt_network = mgmt_network | default("stuttgart") %}
{% set node_count  = node_count  | default(4) %}

name: {{ seed_name }}-{{ instance_id }}

mgmt:
  network: {{ mgmt_network }}
  ipv4-subnet: 99.1.{{ instance_id }}.0/24

topology:
  nodes:
{% for i in range(1, node_count + 1) %}
    r{{ i }}:
      kind: linux
      image: {{ node_image }}
      mgmt-ipv4: 99.1.{{ instance_id }}.{{ 9 + i }}   # BUG: should be 10 + i
{% endfor %}

  links:
{# BUG: generates duplicates and keeps eth1 for all links #}
{% for i in range(1, node_count + 1) %}
{% for j in range(1, node_count + 1) %}
{% if i != j %}
    - endpoints: ["r{{ i }}:eth1", "r{{ j }}:eth1"]
{% endif %}
{% endfor %}
{% endfor %}
