{{/*
  Template for Exercise 9
  Deploy natively with containerlab using topo09.clab_vars.yaml
*/}}
name: {{ .topo_name }}

mgmt:
  network: {{ .mgmt_network }}
  ipv4-subnet: {{ .mgmt_subnet }}

topology:
  nodes:{{ range .nodes }}
    {{ .name }}:
      kind: linux
      image: {{ $.node_image }}
      mgmt-ipv4: {{ .mgmt_ipv4 }}{{ end }}

  links:{{ range .links }}
    - endpoints: ["{{ .a }}", "{{ .b }}"]{{ end }}
